<p id="notice"><%= notice %></p>

<h3>나의기사</h3>

<table border="1">
  <thead>
    <tr>
      <th>날짜</th>
      <th>제목</th>
      <th>자수</th>
      <th>출고</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @stories.each do |story| %>
      <tr>
        <td><%= story.date %></td>
        <td><%= story.title %></td>
        <td><%= story.char_count %></td>
        <td><%= story.publish %></td>

        <td><%= link_to '보기', story %></td>
        <td><%= link_to '수정', edit_story_path(story) %></td>
        <td><%= link_to '삭제', story, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Story', new_story_path %>
