<p id="notice"><%= notice %></p>

<p>
  <strong>날자:</strong>
  <%= @story.date %>
</p>

<p>
  <strong>제목:</strong>
  <%= @story.title %>
</p>

<p>
  <strong>부제목:</strong>
  <%= @story.subtitle %>
</p>

<p>
  <strong>본문:</strong>
  <%= @story.body %>
</p>

<p>
  <strong>자수:</strong>
  <%= @story.char_count %>
</p>

<p>
  <strong>출고:</strong>
  <%= @story.publish %>
</p>

<%= link_to 'Edit', edit_story_path(@story) %> |
<%= link_to 'Back', stories_path%>
