<p id="notice"><%= notice %></p>

<p>
  <strong>날짜:</strong>
  <%= @yh_article.date %>
</p>

<p>
  <strong>시간:</strong>
  <%= @yh_article.time %>
</p>

<p>
  <strong>카테고리:</strong>
  <%= @yh_article.category %>
</p>

<p>
  <strong>크라스:</strong>
  <%= @yh_article.class_code %>
</p>

<p>
  <strong>제목:</strong>
  <%= @yh_article.title %>
</p>

<p>
  <strong>본문:</strong>
  <%= @yh_article.body %>
</p>

<p>
  <strong>자수:</strong>
  <%= @yh_article.char_count %>
</p>

<p>
  <strong>저자:</strong>
  <%= @yh_article.writer %>
</p>

<p>
  <strong>선택:</strong>
  <%= @yh_article.taken_by %>
</p>




<%= link_to 'Edit', edit_yh_article_path(@yh_article) %> |
<%= link_to 'Back', yh_articles_path %>
