<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @yh_article.date %>
</p>

<p>
  <strong>Time:</strong>
  <%= @yh_article.time %>
</p>

<p>
  <strong>Category:</strong>
  <%= @yh_article.category %>
</p>

<p>
  <strong>Class code:</strong>
  <%= @yh_article.class_code %>
</p>

<p>
  <strong>Source:</strong>
  <%= @yh_article.source %>
</p>

<p>
  <strong>Title:</strong>
  <%= @yh_article.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @yh_article.body %>
</p>

<p>
  <strong>Writer:</strong>
  <%= @yh_article.writer %>
</p>

<p>
  <strong>Taken by:</strong>
  <%= @yh_article.taken_by %>
</p>

<p>
  <strong>Selected:</strong>
  <%= @yh_article.selected %>
</p>

<p>
  <strong>Group:</strong>
  <%= @yh_article.group %>
</p>

<p>
  <strong>Page:</strong>
  <%= @yh_article.page %>
</p>

<%= link_to 'Edit', edit_yh_article_path(@yh_article) %> |
<%= link_to 'Back', yh_articles_path %>
