<p id="notice"><%= notice %></p>
<h3 align="center">연합사진</h3>
<div align="center">
  <%= paginate @yh_pictures %>
</div>
<div class="row">
  <% @yh_pictures.each do |yh_picture| %>
    <div class="col-md-2">
      <a href="<%=  yh_picture_path(yh_picture) %>"><img  src="<%= yh_picture.thumb_path %>" width="100%"></img></a>
    </div>
  <% end %>
</div>

<div align="center">
  <%= paginate @yh_pictures %>
</div>

