<p id="notice"><%= notice %></p>

<p>
  <strong>Action:</strong>
  <%= @yh_picture.action %>
</p>

<p>
  <strong>Service type:</strong>
  <%= @yh_picture.service_type %>
</p>

<p>
  <strong>Content:</strong>
  <%= @yh_picture.content_id %>
</p>

<p>
  <strong>Date:</strong>
  <%= @yh_picture.date %>
</p>

<p>
  <strong>Time:</strong>
  <%= @yh_picture.time %>
</p>

<p>
  <strong>Urgency:</strong>
  <%= @yh_picture.urgency %>
</p>

<p>
  <strong>Category:</strong>
  <%= @yh_picture.category %>
</p>

<p>
  <strong>Class code:</strong>
  <%= @yh_picture.class_code %>
</p>

<p>
  <strong>Attriubute code:</strong>
  <%= @yh_picture.attriubute_code %>
</p>

<p>
  <strong>Source:</strong>
  <%= @yh_picture.source %>
</p>

<p>
  <strong>Credit:</strong>
  <%= @yh_picture.credit %>
</p>

<p>
  <strong>Region:</strong>
  <%= @yh_picture.region %>
</p>

<p>
  <strong>Title:</strong>
  <%= @yh_picture.title %>
</p>

<p>
  <strong>Subtile:</strong>
  <%= @yh_picture.subtile %>
</p>

<p>
  <strong>Body:</strong>
  <%= @yh_picture.body %>
</p>

<p>
  <strong>Picture:</strong>
  <%= @yh_picture.picture %>
</p>

<p>
  <strong>Taken by:</strong>
  <%= @yh_picture.taken_by %>
</p>

<p>
  <strong>Selected:</strong>
  <%= @yh_picture.selected %>
</p>

<p>
  <strong>Group:</strong>
  <%= @yh_picture.group %>
</p>

<p>
  <strong>Page:</strong>
  <%= @yh_picture.page %>
</p>

<%= link_to 'Edit', edit_yh_picture_path(@yh_picture) %> |
<%= link_to 'Back', yh_pictures_path %>
