<p id="notice"><%= notice %></p>

<%= link_to "이전으로", yh_pictures_path, method: :get, class: "btn btn-md btn-success" %>


  <img  src="<%= @yh_picture.preview_path %>" width="100%"></img>

<p>
  <strong>제목:</strong>
  <%= @yh_picture.title %>
</p>

<p>
  <strong>설명:</strong>
  <%= @yh_picture.body %>
</p>

<p>
  <strong>출고자:</strong>
  <%= @yh_picture.taken_by %>
</p>

<p>
  <strong>출고:</strong>
  <%= @yh_picture.selected %>
</p>


<%= link_to "이전으로", yh_pictures_path, method: :get, class: "btn btn-md btn-success" %>

