<%# add navigation links to this file %>
<li><%= link_to '나의기사', stories_path %></li>
<li><%= link_to '연합기사', yh_articles_path %></li>
<li><%= link_to '연합사진', yh_pictures_path %></li>


<% if user_signed_in? %>
  <li><%= link_to '로그아웃', destroy_user_session_path, method: :delete  %></li>

<% else %>
  <li><%= link_to '로그인', new_user_session_path %></li>
<% end %>
